<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.YgChartDAO">
	
	<select id="weightChart" parameterType="String" resultType="com.smhrd.model.YgChartVO">
		select curr_weight, weight_regdt 
    		from tbl_weight_daily
    		where mb_id=#{mb_id} 
    		and weight_regdt 
    		between sysdate-7 and sysdate 
		order by weight_regdt desc <!-- 뭄무게 불러오는 쿼리문 돈터치!!  -인성-  -->
	</select> 
	
	<select id="todayChart" parameterType="String">
		select u_f_dt from USER_FOOD where mb_id=#{mb_id} 
	</select>
	
	<select id="YG" resultType="com.smhrd.model.MemberVO"> <!-- 아이디랑 리절트타입 수정 해야함!!!! -->
        select * from tbl_weight_daily
       where mb_id=#{mb_id} 
       and WEIGHT_REGDT between sysdate-7 and sysdate 
       order by WEIGHT_REGDT desc;
    </select>
    
    <select id="d_f_seq" parameterType="String" resultType="com.smhrd.model.YgChartVO">
		select f_seq from tbl_user_food where mb_id=#{mb_id}
		and u_f_dt = sysdate
		order by u_f_dt desc;
	</select>
    
</mapper>