<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.FoodDAO">
	
	<select id="selectChart" parameterType="com.smhrd.model.FoodVO" resultType="com.smhrd.model.FoodVO">
		select * from TBL_USER_FOOD where mb_id=#{mb_id} 
	</select>
	
	
</mapper>