@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'LINESeedKR-Bd';
}
button{border:none; border-radius:none;}
/* body{
    background: #f5f6fa;
} */

.wrapper .sidebar{
	/* background: rgb(144 201 87);  */
    background: rgb(120 148 92);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile h1{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

/* 추가 했음!*/
.wrapper .sidebar .profile .p_1{
    color: #ffffff;
    margin: 10px 0 5px;
}

.search {
    position: relative;
    width: 300px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
  }

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid rgb(51, 97, 1);
    color: rgb(241, 237, 237);
    font-size: 18px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: rgb(55, 105, 1);

    background:white;
    border-right: 2px solid rgb(144 201 87);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: rgb(55, 105, 1);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

/*  */

#fullscreen{
   width: 100%;
   height: 1079px;
   /* background-color: rgb(227, 247, 213); */
	background-color: rgb(220, 230, 216);
}
#screen0{
   width: 300px;
   height: 969px;
   background-color: black;
   float: left;
}
 table, th, td{
    border: none;
    border-radius: 30px;
}
 table{ 
    border-collapse : collapse;
    width: 1500px;
    height: 100px;
    top: 80px;
    right: 58px;
    position: fixed;
    background-color: none;
} /*이중선 제거*/
  /* button img{
    width: 80px;
    height: 80px;
    top: 220px;
    right: 750px;
  } */
  
  .btn1{
    position: fixed;
    width: 70px;
    height: 30px;
    font-size: 1.5ch;
    top: 185px;
    right: 270px;
    background-color: rgb(12, 117, 209);
    color: white;
    font-family: 'LotteMartDream';
    cursor: pointer;
    border: none;
    border-radius: 10px;
    line-height: 0px;
  }

 /* th,td{
   width: 200px;
   height: 83px;
   text-align: center;
   border: none;
   
   vertical-align: top;   /* 위 */
   /* vertical-align: bottom;   /* 아래 */
   /* vertical-align: middle;   가운데 */
/* } */ 
/* .up{
    background-color: rgb(247, 244, 224);
    font-size: 20px;
    border-radius: 10px;
}
.down{
    font-size: 20px;
}
.down input{
    height: 50px;
    font-size: 15px;
}  */
#date{
    position: fixed;
    right: 900px;
    top: 180px;
    width: 500px;
}
#text{
    position: fixed;
    right: 370px;
    top: 180px;
    width: 500px;
}

/* 몸무게 변화 그래프 */
#screen1-0{
   width: 1500px;
   height: 700px;
   background-color: white;
   bottom: 80px;
   right: 58px;
   position: fixed;
   padding : 20px;
   border-radius : 10px;
}
#head{
    color: rgb(60, 149, 205);
}

#screen1-1{
   width: 1500px;
   height: 600px;
   background-color: white;
   bottom: 80px;
   right: 58px;
   position: fixed;
   padding : 20px;
   border-radius : 10px;
}